@model IEnumerable<Wizyta>;

@{
    ViewData["Title"] = "Wizyty";
    // var wizyta = ViewData["Wizyta"] as Wizyta;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="display-4">Tutaj zobaczysz całą listę wizyt</p>
    <table style="width:100%;" class=" table table-striped table-hover table-bordered"">
        <tr class="table table-info">
            <th>Numer wizyty</th>
            <th>ID Lekarza</th>
            <th>ID Pacjenta</th>
            <th>Data wizyty</th>
        </tr>
        @foreach (var wizyta in Model)
        {
            <tr style="border: 1px solid black;">
                <td>
                    @Html.DisplayFor(modelItem => wizyta.ID_Wizyty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wizyta.Lekarz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wizyta.Pacjent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => wizyta.Data)
                </td>
            </tr>
        }
    </table>

</div>